@use "color";

@mixin underline {
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "input"
    "label";

  > * {
    width: 100%;
  }

  > input,
  > select {
    grid-area: input;
    height: 2rem;
    border-bottom: 1px solid rgba(color.$foreground, 0.25);
  }

  > span {
    height: auto;
    border: none;
    grid-area: label;
    color: rgba(color.$foreground, 0.25);
  }
}

@mixin side($input) {
  border: none;
  @if $input == left or $input == right {
    height: 2rem;

    > input,
    > select {
      width: 4rem;
      text-align: center;
    }

    > span {
      width: calc(100% - 4rem);
    }
  } @else {
    height: 3rem;

    > *,
    > * > * {
      text-align: center;
      display: block;
    }

    > span {
      width: 100%;
    }

    > input,
    > select {
      width: 5rem;
    }
  }
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 0.5vw;

  @if $input == "right" {
    flex-direction: row;
    > span {
      text-align: right;
    }
  } @else if $input == "left" {
    flex-direction: row-reverse;
    > span {
      text-align: left;
    }
  } @else if $input == "bottom" {
    flex-direction: column;
    > span {
      text-align: center;
    }
  } @else if $input == "top" {
    flex-direction: column-reverse;
    > span {
      text-align: center;
    }
  }
}
