@use "color";

@mixin underline {
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "input"
    "label";

  > * {
    width: 100%;
  }

  > input,
  > select {
    grid-area: input;
    height: 2rem;
    border: {
      top: none;
      left: none;
      right: none;
      bottom: 1px solid rgba(color.$foreground, 0.25);
    }
  }

  > span {
    height: auto;
    border: none;
    grid-area: label;
    color: rgba(color.$foreground, 0.25);
  }
}

@mixin side($input) {
  border: none;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 0.5vw;

  > input,
  > select {
    width: 4rem;
  }

  > span {
    width: calc(100% - 4rem);
  }

  @if $input == "right" {
    flex-direction: row;
    > span {
      text-align: right;
    }
  } @else {
    flex-direction: row-reverse;
    > span {
      text-align: left;
    }
  }
}
