:root {
  overflow-y: auto !important;
}

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  overflow: hidden;
}

input,
input::after,
input::before,
textarea,
textarea::after,
textarea::before,
select,
select::after,
select::before {
  border: none !important;
  outline: none !important;
  filter: none;
}
