@use "color";

// width
::-webkit-scrollbar {
  width: 10px;
}

// Track
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: color.$background;
}

// Handle
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  &:not(:hover) {
    background: rgba(color.$foreground, 0.5);
  }

  &:hover {
    background: color.$foreground;
  }
}
