@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("./font/JetBrainsMono[wght].ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 900;
  src: url("./font/JetBrainsMono-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 200;
  src: url("./font/JetBrainsMono-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./font/JetBrainsMono-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  src: url("./font/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100;
  src: url("./font/JetBrainsMono-Thin.woff2") format("woff2");
  font-display: swap;
}
