@use "color";
@import "reset";
@import "JetBrainsMono";
@import "input";
@import "page01";
@import "page02";
@import "page03";
@import "page04";
@import "footer";
@import "scrollbar";

$max-page-width: 800px;

:root {
  --page-width: min(#{$max-page-width}, calc(100vw - 2rem));
  --font-size-small: calc(var(--page-width) * 0.01);
  --font-size-regular: calc(var(--page-width) * 0.015);
  --font-size-big: calc(var(--page-width) * 0.045);
  padding: 1rem;
  color: color.$foreground;

  body::after {
    content: "";
    position: fixed; // stretch a fixed position to the whole screen
    top: 0;
    height: 100vh; // fix for mobile browser address bar appearing disappearing
    left: 0;
    right: 0;
    z-index: -1; // needed to keep in the background
    background-image: url(../img/FlyingThunderGod.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

@supports (backdrop-filter: blur(10px)) {
  div#root > div {
    backdrop-filter: blur(10px);

    &#toolbar {
      background-color: rgba(color.$foreground, 0.75);
    }
    &:not(#toolbar) {
      background-color: rgba(color.$background, 0.75);
    }
  }
}
@supports not (backdrop-filter: blur(10px)) {
  #root > div {
    background-attachment: fixed;
    background-repeat: no-repeat;

    &#toolbar {
      background-image: linear-gradient(
          rgba(color.$foreground, 0.75),
          rgba(color.$foreground, 0.75)
        ),
        url(../img/FlyingThunderGod_Blur.webp);
    }
    &:not(#toolbar) {
      background-image: linear-gradient(
          rgba(color.$background, 0.75),
          rgba(color.$background, 0.75)
        ),
        url(../img/FlyingThunderGod_Blur.webp);
    }
  }
}

@media (min-aspect-ratio: 2232/1600) {
  body::after,
  #root > div {
    background-size: 100vw auto;
    background-position: center;
  }
}

@media (max-aspect-ratio: 2232/1600) {
  body::after,
  #root > div {
    background-size: auto 100vh;
    background-position: center;
  }
}

div#root > input[type="file"] {
  background-color: rgba(color.$background, 0.5);
}

* {
  font-family: "JetBrains Mono", monospace !important;
  font-size: var(--font-size-regular);
  color: color.$foreground;
  text-rendering: optimizelegibility;
  image-rendering: optimizequality;
  shape-rendering: geometricprecision;
  color-scheme: dark !important;
}

input {
  font-size: 1em;

  &[type="checkbox"] {
    width: 1em;
    height: 1em;
  }
}

:root {
  cursor: default;
}

input:not([type="checkbox"]):read-only {
  cursor: not-allowed !important;
}

textarea:read-write,
input:read-write {
  cursor: text !important;
}

select {
  cursor: pointer !important;
}

div#root {
  padding: {
    top: 16rem;
    bottom: 32rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;

  // pages
  > div {
    &#toolbar {
      position: fixed;
      z-index: 1;
      top: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-evenly;
      padding: var(--font-size-small) var(--font-size-big);
      gap: var(--font-size-regular);

      * {
        color: color.$background !important;
      }

      > label {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-gap: 0.5em;
        align-items: center;
        justify-items: center;
        justify-content: center;
        align-content: center;

        > svg,
        > img {
          height: var(--font-size-big);
          width: auto;
        }

        > span {
          font-size: var(--font-size-small);
        }

        &:not(.no-click) {
          cursor: pointer;
          &:hover {
            filter: drop-shadow(0 0 0.5em rgba(color.$background, 0.75));
          }
        }
      }
    }
    &:not(#toolbar) {
      width: calc(100vw - 4rem);
      min-height: calc(var(--page-width) / 210 * 297);
    }
    padding: 1rem;
    max-width: $max-page-width;
    margin: 0 auto;
    border-radius: 1rem;
  }
}

// debug
// @function repeat($str, $n) {
//   $c: "";
//   @for $i from 1 through $n {
//     $c: $c + $str;
//   }
//   @return $c;
// }

// @for $i from 1 through 100 {
//   #{":root" + repeat(">*", $i)} {
//     $r: random(255);
//     $g: random(255);
//     $b: random(255);
//     background-color: rgba($r, $g, $b, 0.01 * $i) !important;
//     border: 1px solid rgba($r, $g, $b, 0.1 * $i) !important;
//   }
// }
